.agencies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 103px 0 82px 0;
  @media screen and (max-width: $screen-xs) {
    padding-top: 60px;
  }
  h2 {
    line-height: 1.6;
    padding-bottom: 5px;
    @media screen and (max-width: $screen-md) {
      font-size: 2.08rem;
      letter-spacing: 2.5px;
    }
    @media screen and (max-width: $screen-xs) {
      text-align: center;
      font-size: 1.66rem;
      letter-spacing: 2px;
    }
  }
}

.agencies .subtext {
  font-size: 1.83rem;
  line-height: 1.6;
  color: #a8996e;
  @media screen and (max-width: $screen-md) {
     max-width: 50%;
     text-align: center;
     font-size: 1.66rem;
     letter-spacing: 0;
  }
  @media screen and (max-width: $screen-xs) {
    max-width: 70%;
    line-height: 1.4;
    font-size: 1.41rem;
  }
}

.agency-rolodex {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  flex-wrap: wrap;
  picture {
    filter: grayscale(100%);
    transition: 0.3s filter ease-in-out;
    &:hover {
      filter: grayscale(0%);
    }
    @media screen and (max-width: $screen-md) {
      // filter: grayscale(0%);
      margin-bottom: 20px;
      &:nth-of-type(odd) {
        margin-right: 25px;
      }
      &:nth-of-type(even) {
        margin-left: 25px;
      }
    }
    @media screen and (max-width: $screen-xs) {
      &:nth-of-type(odd) {
        margin-right: 0px;
      }
      &:nth-of-type(even) {
        margin-left: 0px;
      }
    }
  }
  @media screen and (max-width: $screen-md) {
    width: 80%;
    justify-content: center;
  }
}

.agency-container {
  width: 33.3%;
  text-align: center;
  margin-bottom: 33px;
  @media screen and (max-width: $screen-md) {
    width: 50%;
  }
  @media screen and (max-width: $screen-sm) {
    width: 100%;
  }
}
