.blogroll {
  background-color: #f4f4ef;
  padding-top: 133px;
  padding-bottom: 125px;
}

.blogroll-articles {
  width: 100%;
}
.blogroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogroll-link:hover .blogroll-excerpt {
  border: 5px solid rgba(11, 45, 55, 0.8);
  &:after {
    opacity: 0;
  }
}

.blogroll-excerpt {
  height: 114px;
  background-color: #fff;
  margin: 16px 0;
  padding: 65px;
  border: 5px solid transparent;
  @media screen and (max-width: $screen-md) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (max-width: $screen-xs) {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
  }
}

.blogroll-articles .blogroll-link:first-child .blogroll-excerpt {
  position: relative;
  &:after {
    background-image: url('../images/svgs/swb-badge-blog.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 109px;
    height: 110px;
    display: block;
    content: '';
    transition: opacity .15s ease-in;
    @media screen and (max-width: $screen-md) {
      right: -15px;
    }
    @media screen and (max-width: $screen-xs) {
      display: none;
    }
  }
}

.blogroll-title {
  font-size: 2.5rem;
  margin: 8.8px 0 24px 0;
}

.blogroll-content {
  font-size: 1.33rem;
}

.blogroll-details {
  display: flex;
  font-size: 1.16rem;
  font-weight: 600;
  font-family: $heading-font;
  text-transform: uppercase;
  line-height: 2.2;
}

.blogroll-date {
  color: #a8996e;
  @media screen and (max-width: $screen-xs) {
    width: 100%;
  }
}

.blogroll-length {
  margin: 0 21px;
  color: #b6b6b6;
  @media screen and (max-width: $screen-xs) {
    display: none;
  }
}

.blogroll-category {
  font-size: 1.08rem;
  font-family: $secondary-font;
  font-style: italic;
  color: #b6b6b6;
  letter-spacing: 0.1px;
  text-transform: none;
  @media screen and (max-width: $screen-xs) {
    display: none;
  }
}

.blogroll-category-single {
  color: #a8996e;
}

.blogroll h2 {
  font-size: 2.9rem;
}

.blogroll .subtext {
  color: #a8996e;
  line-height: 1;
  font-size: 1.8rem;
  padding-bottom: 16px;
}
