.case {
  article.post {
    padding-top: 58px;
    padding-bottom: 73px;
  }
  .post-specs {
    padding-top: 80px;
    padding-bottom: 73px;
  }
  .post-filed-under {
    margin-bottom: 0px;
  }
  .post-tags {
    letter-spacing: 1px;
  }
}
.case-wrapper {
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url('../images/pngs/sacred-geometry-large.png');
    @include image-2x('../images/pngs/sacred-geometry-large-@2x.png', 213px, 245px);
    background-repeat: no-repeat;
    background-size: contain;
    width: 213px;
    height: 245px;
    position: absolute;
    top: -50px;
    left: -190px;
  }
}
