.case {
  article.post {
    padding-top: 58px;
    padding-bottom: 73px;
  }
  .post-specs {
    padding-top: 80px;
    padding-bottom: 73px;
  }
  .post-filed-under {
    margin-bottom: 0px;
  }
  .post-tags {
    letter-spacing: 1px;
  }
}
