#contact {
  min-height: 683px;
  background-color: #fff;
  .headline-wrapper .quote {
    margin-top: 56px;
    display: block;
  }
  .headline-wrapper {
    padding-bottom: 80px;
    @media screen and (max-width: $screen-md) {
      padding-bottom: 40px;
    }
    h3 {
      line-height: 1.3;
    }
  }
}
.contact {
  background-color: #fbfbf9;
  .wrapper {
    @media screen and (max-width: $screen-md) {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
.contact-container {
  display: flex;
}
.contact-form {
  padding-top: 87px;
  font-size: 1.75rem;
  line-height: 1.5;
  color: #4c5256;
  min-width: 520px;
  @media screen and (max-width: $screen-md) {
    padding-bottom: 87px;
  }
}
.contact-calendar {
  background-color: #0b2d37;
  width: 100%;
  padding: 87px 67px 67px 67px;
  @media screen and (max-width: $screen-md) {
    display: none;
  }
}
.contact-form h3 {
  padding-bottom: 27px;
}
.contact-calendar h3 {
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 2.16rem;
  margin-bottom: 30px;
}
