#contact {
  min-height: 683px;
  background-color: #fff;
  .headline-wrapper .quote {
    margin-top: 56px;
    display: block;
    @media screen and (max-width: $screen-xs) {
      margin-top: 0px;
    }
  }
  .headline-wrapper {
    padding-bottom: 80px;
    @media screen and (max-width: $screen-md) {
      padding-bottom: 40px;
    }
    @media screen and (max-width: $screen-xs) {
      padding-top: 65px;
    }
    h3 {
      line-height: 1.3;
    }
  }
  textarea {
    width: 90%;
  }
}
.contact {
  background-color: #fbfbf9;
  padding-bottom: 93px;
  @media screen and (max-width: $screen-xs) {
    padding-bottom: 0px;
  }
  .wrapper {
    @media screen and (max-width: $screen-md) {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
.contact-container {
  display: flex;
}
.contact-form {
  padding-top: 87px;
  font-size: 1.75rem;
  line-height: 1.5;
  color: #4c5256;
  min-width: 520px;
  @media screen and (max-width: $screen-md) {
    padding-bottom: 87px;
    padding-top: 140px;
  }
  @media screen and (max-width: $screen-xs) {
    padding-top: 47px;
    padding-bottom: 47px;
    font-size: 1.2rem;
    line-height: 1;
    min-width: auto;
  }
}
.contact-calendar {
  background-color: #0b2d37;
  width: 100%;
  padding: 87px 67px 67px 67px;
  @media screen and (max-width: $screen-md) {
    display: none;
  }
}
.contact-form h3 {
  padding-bottom: 27px;
}
.contact-calendar h3 {
  color: #fff;
  letter-spacing: 0.2px;
  font-size: 2.16rem;
  margin-bottom: 30px;
}
.contact-wrapper {
  position: relative;
  &:after {
    content: '';
    display: block;
    background: url('../images/pngs/sacred-geometry-large.png');
    @include image-2x('../images/pngs/sacred-geometry-large-@2x.png', 213px, 245px);
    background-repeat: no-repeat;
    background-size: contain;
    width: 213px;
    height: 245px;
    position: absolute;
    top: 50px;
    right: -190px;
  }
  @media screen and (max-width: $screen-md) {
    overflow-x: hidden;
  }
}
