footer {
  background: linear-gradient(rgba(11, 45, 55, 0.75), rgba(11, 45, 55, 0.75)), url('../images/pngs/footer-bg.png');
  @include image-2x("../images/pngs/footer-bg-2x.png", 1420, 811, true);
  background-size: cover;
  position: relative;
  padding-bottom: 83px;

  .subtext {
    line-height: 1;
    font-size: 1.6rem;
    color: #a8996e;
    margin-bottom: 13px;
  }
}

.footer-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 84px;
}

.footer-bird {
  margin-bottom: 25px;
}

.made-in {
  font-family: $heading-font;
  line-height: 3.4;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 1.16rem;
  color: #fff;
  text-transform: uppercase;
  @media screen and (max-width: $screen-xs) {
    font-size: 1rem;
  }
}

.shape {
  background-size: cover;
  position: absolute;
  animation-timing-function: linear;
  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

.shape--cube {
  width: 146px;
  height: 129px;
  background: url('../images/pngs/footer-cube.png');
  @include image-2x("../images/pngs/footer-cube-2x.png", 146px, 129px, false);
  top: 450px;
  left: 200px;
  animation-name: rotate-backwards;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  @media screen and (max-width: $screen-md) {
    left: 100px;
  }
}

.shape--sacred {
  width: 301px;
  height: 301px;
  top: 118px;
  left: 20px;
  background: url('../images/pngs/footer-sacred.png');
  @include image-2x("../images/pngs/footer-sacred-2x.png", 150px, 150px, false);
  animation-name: rotate;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  @media screen and (max-width: $screen-md) {
    left: -150px;
  }
}

.shape--sunfire {
  width: 139px;
  height: 149px;
  right: 50px;
  top: 128px;
  background: url('../images/pngs/footer-sunfire.png');
  @include image-2x("../images/pngs/footer-sunfire-2x.png", 139px, 149px, false);
  animation-name: rotate-backwards;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  @media screen and (max-width: $screen-md) {
    right: -60px;
  }
}

.shape--starball {
  width: 293px;
  height: 293px;
  right: 80px;
  top: 298px;
  background: url('../images/pngs/footer-starball.png');
  @include image-2x("../images/pngs/footer-starball-2x.png", 293px, 293px, false);
  animation-name: rotate;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  @media screen and (max-width: $screen-md) {
    right: -100px;
  }
}

.footer-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  padding-top: 125px;
  @media screen and (max-width: $screen-xs) {
    height: auto;
    padding-bottom: 96px;
  }
}

.copyright {
  font-family: $secondary-font;
  font-size: 1.16rem;
  line-height: 2.5;
  color: #8da0a6;
  position: absolute;
  bottom: 0;
  @media screen and (max-width: $screen-xs) {
    font-size: 1rem;
  }
}

.social-links {
  margin-top: 31px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
