.headline-wrapper--about {
  padding-bottom: 22px;
  h3 {
    line-height: 1.4;
    max-width: 80%;
    padding-bottom: 58px;
  }
}

.headline-wrapper {
  padding-top: 93px;
  padding-bottom: 84.6px;
}
