
.hero {
  padding-top: 51px;
  .stuck & {}
  .home & {
    @media screen and (max-width: $screen-md) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  }
}

.hero h1 {
  color: #FFF;
  padding: 18px 0px;
  @media screen and (max-width: $screen-md) {
    text-align: center;
  }
}

.hero-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $screen-md) {
    padding: 0 22px;
    width: 100%;
  }
}

.hero-nav-wrapper.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
  left: 0;
  top: -100%;
  background-color: rgba(11, 44, 55, 0.93);
  height: 70px;
  .hero-content-wrapper {
    max-width: 80%;
    margin: 0 auto;
    height: 70px;
  }
  .logo svg {
    width: 79px;
    height: 80px;
    position: relative;
    top: 35px;
    right: 50px;
  }
}

.logo-desktop {
  @media screen and (max-width: $screen-md) {
    display: none;
  }
}

.logo-mobile {
  display: none;
  @media screen and (max-width: $screen-md) {
    display: block;
  }
}

.hero-nav-wrapper.fixed {
  width: 100%;
  background-color: rgba(11, 44, 55, 0.93);
  left: 0;
  height: 70px;
  svg {
    width: 79px;
    height: 80px;
    position: relative;
    top: 35px;
    left: 185px;
  }
}

.hero-nav-wrapper {
  @media screen and (max-width: $screen-md) {
    z-index: 999;
    display: flex;
  }
}

.hero-container {
  border: 10px solid #1C3C46;
  @media screen and (max-width: $screen-md) {
    border: 0;
  }
  @media screen and (max-width: $screen-xs) {
    .wrapper {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.hero-container--internal {
  // height: 534px;
  padding-bottom: 151px;
  @media screen and (max-width: $screen-xs) {
    padding-bottom: 70px;
  }
}
.hero-container--landing {
  background: #{$bgGradient}, url('../images/pngs/home-hero-bg.png');
  @include image-2x("../images/pngs/home-hero-bg-2x.png", 1420, 811, true);
  height: 80vh;
  min-height: 800px;
  @media screen and (max-width: $screen-xs) {
    min-height: 100vh;
  }
}

.hero-container--about {
  background: #{$bgGradient}, url('../images/pngs/about-hero-bg.png');
  @include image-2x("../images/pngs/about-hero-bg-2x.png", 1420, 811, true);
  background-size: cover;
}

.hero-container--contact {
  background: #{$bgGradient}, url('../images/pngs/contact-hero-bg.png');
  @include image-2x("../images/pngs/contact-hero-bg-2x.png", 1420, 811, true);
  background-size: cover;
}

.hero-container--case {
  background: #{$bgGradient}, url('../images/pngs/case-hero-bg.png');
  @include image-2x("../images/pngs/case-hero-bg-2x.png", 1420, 811, true);
  background-size: cover;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  .home & {
    padding-top: 116px;
    @media screen and (max-width: $screen-md) {
      padding-top: 0px;
      padding-bottom: 150px;
    }
  }
}



.hero-subtext {
  font-family: $secondary-font;
  color: #d9c19b;
  font-size: 1.666rem;
  font-style: italic;
  line-height: 3.1;
  letter-spacing: 0.4px;
  @media screen and (max-width: $screen-xs) {
    font-size: 1.3rem;
  }
}

.bird-header {
  width: 68px !important;
  height: 68px;
  margin-bottom: 7px;
  @media screen and (max-width: $screen-md) {
    width: 50px !important;
    margin-bottom: 0px;
  }
}
