h1.home-headline {
  padding-top: 20px;
  padding-bottom: 35px;
  font-family: $logo-font;
  font-size: 4.5rem;
  letter-spacing: 4px;
  text-shadow: 3px 3px #a8996e;
  @media screen and (max-width: $screen-md) {
    font-size: 2.9rem;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.home-subtext {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 1.33rem;
  color: #a8996e;
  letter-spacing: 4px;
  line-height: 2.2;
  @media screen and (max-width: $screen-md) {
    font-size: 1.06rem;
    text-align: center;
    letter-spacing: 2px;
  }
}

.location {
  font-size: $secondary-font;
  font-size: 1.66rem;
  line-height: 1.8;
  font-style: italic;
  letter-spacing: 0.3px;
  color: #8da0a6;
  @media screen and (max-width: $screen-md) {
    font-size: 1.36rem;
  }
}

.latest-work {
  background-color: #0b2d37;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .columns {
    padding-left: 114px;
    padding-top: 50px;
    padding-bottom: 31px;
    @media screen and (max-width: $screen-md) {
      padding-left: 66px;
    }
    @media screen and (max-width: $screen-xs) {
      padding-left: 0px;
      padding-top: 52px;
      padding-bottom: 57px;
    }
  }
  .subtext {
    padding-top: 20px;
    padding-left: 2px;
    display: block;
    color: #a8996e;
    @media screen and (max-width: $screen-xs) {
      font-size: 1.4rem;
      padding-top: 10px;
    }
  }
  .wrapper {
    @media screen and (max-width: $screen-xs) {
      margin: 0;
    }
  }
}
.latest-work-column-left {
  @media screen and (max-width: $screen-xs) {
    width: 200px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.latest-work-column-right {
  padding-top: 135px;
  margin-left: -78px;
  @media screen and (max-width: $screen-xs) {
    // margin-left: -200px;
    padding-top: 62px;
  }
  h2, span {
    line-height: 1;
  }
}

.latest-work h2 {
  color: #fff;
  @media screen and (max-width: $screen-xs) {
    font-size: 1.66rem;
    letter-spacing: 3px;
  }
}
.latest-work-proportion {
  @media screen and (max-width: $screen-xs) {
    width: 167px;
  }
}
.home {
  .portfolio-short {
    @media screen and (max-width: $screen-md) {
      position: relative;
    }
  }
  .portfolio-short-feature {
    @media screen and (max-width: $screen-md) {
      display: none;
    }
  }
}
