.home-headline {
  padding-top: 20px;
  padding-bottom: 35px;
  font-family: $logo-font;
  font-size: 4.5rem;
  letter-spacing: 4px;
  text-shadow: 3px 3px #a8996e;
}

.home-subtext {
  font-family: $secondary-font;
  text-transform: uppercase;
  font-size: 1.33rem;
  color: #a8996e;
  letter-spacing: 4px;
  line-height: 2.2;
}

.location {
  font-size: $secondary-font;
  font-size: 1.66rem;
  line-height: 1.8;
  font-style: italic;
  letter-spacing: 0.3px;
  color: #8da0a6;
}

.latest-work {
  background-color: #0b2d37;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .columns {
    padding-left: 114px;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .subtext {
    padding-top: 20px;
    padding-left: 2px;
    display: block;
    color: #a8996e;
  }
}

.latest-work-column-right {
  padding-top: 135px;
  margin-left: -78px;
  h2, span {
    line-height: 1;
  }
}

.latest-work h2 {
  color: #fff;
}
