.intro-box {
  display: flex;
  margin: 120px 0px;
}
.intro-box-body {
  max-width: 421px;
  padding-right: 90px;
}

.intro-box-body strong {
  font-family: $secondary-font;
  font-size: 1.66rem;
  line-height: 1.8;
  font-style: italic;
  color: #a8996e;
}
