.intro-box {
  display: flex;
  margin: 120px 0px;
  @media screen and (max-width: $screen-md) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (max-width: $screen-xs) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.intro-box-body {
  max-width: 421px;
  padding-right: 90px;
  @media screen and (max-width: $screen-md) {
    order: 2;
    padding-right: 0px;
    text-align: center;
    width: 100%;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 1.4rem;
  }
}
.intro-box-body strong {
  font-family: $secondary-font;
  font-size: 1.66rem;
  line-height: 1.8;
  font-style: italic;
  color: #a8996e;
  @media screen and (max-width: $screen-xs) {
    font-size: 1.4rem;
  }

}
.intro-box-featured {
  @media screen and (max-width: $screen-md) {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 33px;
  }
  @media screen and (max-width: $screen-xs) {
    img {
      width: 50%;
    }
  }
}
