nav {
  padding-bottom: 25px;
  .sticky & {
    padding-bottom: 0px;
  }
  @media screen and (max-width: $screen-md) {
    padding-bottom: 0;
  }

}
.menu {
  text-align: center;
  @media screen and (max-width: $screen-md) {
    display: none;
  }
}
.menu.toggled {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: calc(100vh - 58px);
  background-color: rgba(11, 45, 55, 0.97);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  opacity: 1;
  li {
    margin-bottom: 12px;
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 15px;
    }
  }
  .badge {
    margin-top: 53px;
    margin-bottom: 80px;

    @media screen and (max-width: $screen-xs) {
      margin-top: 20px;
      margin-bottom: 22px;
      svg {
        width: 100px;
      }
    }
  }
  @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape) {
    height: calc(100vh - 66px);
    padding-top: 20px;
    li {
      font-size: 16px;
    }
    .badge {
      margin-top: 5px;
      margin-bottom: 0px;
      position: absolute;
      left: -40vw;
      top: -10px;
    }
    .badge svg {
      width: 80px;
    }
    .menu-contact {
      display: none;
    }
  }
}
.menu-contact {
  @media screen and (max-width: $screen-xs) {
    display: none;
  }
}
nav ul {
  display: flex;
  font-size: 1.0833rem;
  font-family: $heading-font;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  line-height: 2.3;
}
nav ul li {
  width: 119px;
  @media screen and (max-width: $screen-md) {
    width: 100%;
  }
}
nav ul li a {
  position: relative;
  color: #8da0a6;
  text-decoration: none;
  transition: color 0.3s ease-in-out 0s;
  &:hover {
    color: #fff;
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 2px;
    bottom: -7px;
    left: -10%;
    background-color: #a8996e  ;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
}

.hamburger {
  display: none !important;
  @media screen and (max-width: $screen-md) {
    display: block !important;
  }
}

p.get-in-touch {
  margin-top: 40px;
  font-family: $secondary-font;
  text-transform: none;
  letter-spacing: 0.6px;
  font-size: 1.33rem;
  font-style: italic;
  color: #8da0a6;
}

p.email {
  font-size: 1.33rem;
  font-family: $secondary-font;
  text-transform: none;
  letter-spacing: 0.6px;
  color: #d9c19b;
}
