.past-work {
  display: flex;
  @media screen and (max-width: $screen-md) {
    flex-wrap: wrap;
  }
  .past-work-column {
    width: 50%;
    display: flex;
    align-items: center;
    border-top: 17px solid rgba(11, 45, 55, 0.9);
    border-bottom: 17px solid rgba(11, 45, 55, 0.9);
    background-color: rgba(11, 45, 55, 0.9);
    @media screen and (max-width: $screen-md) {
      width: 100%;
    }
  }
  .past-work-arrow{
    @media screen and (max-width: $screen-xs) {
      display: none;
    }
  }
  .past-work-column:first-of-type {
    text-align: right;
    padding-right: 60px;
    background: #{$bgGradient}, url('../images/jpgs/hy.jpg');
    background-position: center center;
    @media screen and (max-width: $screen-md) {
      background-size: cover;
      padding-right: 0px;
    }
    .past-work-details {
      margin-left: 81px;
      @media screen and (max-width: $screen-xs) {
        margin-left: 33px;
      }
    }
    .past-work-arrow {
      margin-left: auto;
    }
  }
  .past-work-column:last-of-type {
    padding-left: 60px;
    background: #{$bgGradient}, url('../images/jpgs/jam3.jpg');
    background-position: center center;
    .past-work-details {
      margin-right: 153px;
      @media screen and (max-width: $screen-xs) {
        margin-right: 33px;
      }
    }
    @media screen and (max-width: $screen-md) {
      background-size: cover;
    }
    @media screen and (max-width: $screen-xs) {
      padding-left: 33px;
    }
  }
  .portfolio-category {
    margin-top: 141px;
    margin-bottom: 26px;
    @media screen and (max-width: $screen-xs) {
      margin-bottom: 0px;
      text-align: center;
      #about & {
        text-align: left;
      }
    }
  }
  h4 {
    font-family: $heading-font;
    font-size: 4.16rem;
    line-height: 1;
    letter-spacing: 7.1px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    @media screen and (max-width: $screen-xs) {
      font-size: 3rem;
      text-align: left;
      letter-spacing: 5px;
    }
  }
  .subtext {
    font-size: 1.5rem;
    color: #8da0a6;
    letter-spacing: 0.1px;
    margin-bottom: 147px;
    @media screen and (max-width: $screen-xs) {
      text-align: left;
      line-height: 1.4;
    }
  }
}
