.portfolio-short-outercontainer {
  padding-top: 68px;
  padding-bottom: 73px;
  background-color: #0b2d37;
}
.portfolio-short-outercontainer:nth-of-type(1) .portfolio-short-container {
  background-image: #{$bgGradient}, url(../images/pngs/work-item1-bg.png);
  background-size: cover;
  .portfolio-short-feature {
    background-image: url(../images/pngs/work-item1-geometry.png);
    background-repeat: no-repeat;
    background-position: 80% 20%;
    @include image-2x("../images/pngs/work-item1-geometry-2x.png", 392px, 392px, false);

  }
}
.portfolio-short-outercontainer:nth-of-type(2) .portfolio-short-container {
  background-image: #{$bgGradient}, url(../images/pngs/work-item2-bg.png);
  background-size: cover;
  .portfolio-short-feature {
    background-image: url(../images/pngs/work-item2-geometry.png);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    @include image-2x("../images/pngs/work-item2-geometry-2x.png", 392px, 392px, false);

  }
}
.portfolio-short-outercontainer:nth-of-type(3) .portfolio-short-container {
  background-image: #{$bgGradient}, url(../images/pngs/work-item3-bg.png);
  background-size: cover;
  .portfolio-short-feature {
    background-image: url(../images/pngs/work-item3-geometry.png);
    background-repeat: no-repeat;
    background-position: 80% 20%;
    @include image-2x("../images/pngs/work-item3-geometry-2x.png", 392px, 392px, false);
  }
}
.portfolio-short {
  display: flex;
  // min-height: 601px;
  padding-top: 48px;
  padding-bottom: 60px;
  @media screen and (max-width: $screen-md) {
    flex-wrap: wrap;
    margin-left: 130px;
    margin-right: 165px;
  }
  @media screen and (max-width: $screen-xs) {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    word-wrap: break-word;
  }
  p {
    @media screen and (max-width: $screen-xs) {
      text-align: left;
    }
  }
}



.portfolio-short-feature {
  width: 50%;
  // background-image: url(../images/pngs/work-item1-geometry.png);
  // background-repeat: no-repeat;
  // background-position: 80% 20%;
  @include image-2x("../images/pngs/work-item1-geometry-2x.png", 392px, 392px, false);
  @media screen and (max-width: $screen-md) {
    width: 100%;
    height: 264px;
    display: none;
    background-size: contain;
  }
  @media screen and (max-width: $screen-xs) {
    background-position: center center;
  }
}
.portfolio-short-mobile-image {
  display: none;
  @media screen and (max-width: $screen-md) {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  @media screen and (max-width: $screen-xs) {
    #work & {
      display: none;
    }
    bottom: -30%;
    left: 0;
    img {
      max-width: 100%;
    }
  }
}
.portfolio-short-body {
  width: 50%;
  padding-bottom: 60px;
  @media screen and (max-width: $screen-md) {
    width: 100%;
  }
  @media screen and (max-width: $screen-xs) {

  }
  p:last-of-type {
    margin-bottom: 46px;
  }
}
.portfolio-short-outercontainer:nth-of-type(even) {
  .portfolio-short-mobile-image {
    right: auto;
    left: 0;
  }
}
.portfolio-short-outercontainer:nth-of-type(even) .portfolio-short-container {
  text-align: right;
}

.portfolio-short-outercontainer:not(:first-of-type):not(:last-of-type) {
  padding-top: 0px;
  padding-bottom: 0x;
}
.portfolio-short-body h2 {
  font-size: 4.16rem;
  line-height: 1;
  font-family: $heading-font;
  letter-spacing: 7.1px;
  color: #fff;
  font-weight: 400;
  padding-top: 15px;
  padding-bottom: 5px;
  @media screen and (max-width: $screen-xs) {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 4px;
  }
}

.portfolio-short-body strong {
  display: block;
  font-family: $secondary-font;
  font-size: 2rem;
  font-style: italic;
  line-height: 1.2l;
  letter-spacing: 0.2p;
  color: #8da0a6;
  padding-bottom: 30px;
  @media screen and (max-width: $screen-xs) {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 13px;
  }
}
.portfolio-short-body button {
  margin-top: 42px;
}

.portfolio-short-body p {
  color: #fff;
  line-height: 1.7;
  font-size: 1.71rem;
  @media screen and (max-width: $screen-xs) {
    font-size: 1.33rem;
  }
}

.portfolio-category {
  display: block;
  font-family: $heading-font;
  font-size: 1.16rem;
  font-weight: 700;
  line-height: 3.6;
  letter-spacing: 2.1px;
  color: #a8996e;
  margin-bottom: 33px;
  text-transform: uppercase;
  @media screen and (max-width: $screen-xs) {
    text-align: center;
    margin-bottom: 0;
  }
}
