// Colors

$dark-blue: #0B2D37;
$light-blue: #8DA0A6;
$dark-beige: #A8996E;
$light-beige: #D9C19B;
$grey: #F4F4EF;

$bgGradient: linear-gradient(rgba(11, 44, 55, 0.93), rgba(11, 44, 55, 0.93));

// Typography
$heading-font: "proxima nova", sans-serif;
$secondary-font: "adobe-garamond-pro", serif;
