<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Simon W. Bloom / About
  include ./includes/head.pug
body
  header.hero-container.hero-container--internal.hero-container--about
    .hero.wrapper
      .logo
        img(src='/public/images/svgs/swb-badge-blog.svg')
        //- Logo here
      nav
        ul
          li Home
          li About
          li Work
          li Contact
          li Blog
