<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Simon W. Bloom / About
  include ./includes/head.pug
body
  header.hero-container.hero-container--internal.hero-container--about
    .hero.wrapper
      .hero-nav-wrapper
        .logo
          img(src='/public/images/svgs/swb-badge-blog.svg')
          //- Logo here
        nav
          include ./includes/nav.pug
      .hero-text-wrapper
        span.hero-subtext Hello there! 
        h1 Welcome
        span.hero-subtext Thanks for stopping by.
  main
    .wrapper
      .headline-wrapper--about
        h3 I'm Simon, & I'm happy you've found my little slice of the Internet.
      p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt saepe, ipsam eos illo quisquam laborum cumque a ad esse, placeat, culpa officia aut laboriosam, excepturi doloribus necessitatibus minima alias modi?
      
      
  include ./includes/footer.pug

        
