<!DOCTYPE html>
html(lang="en")
head 
  meta(charset="UTF-8")
  title Simon W. Bloom / About
  include ./includes/head.pug
body
  header.hero-container.hero-container--internal.hero-container--about
    .hero.wrapper
      .hero-nav-wrapper
        .logo
          img(src='/public/images/svgs/swb-badge-blog.svg')
          //- Logo here
        nav
          include ./includes/nav.pug
      .hero-text-wrapper
        span.hero-subtext Hello there! 
        h1 Welcome
        span.hero-subtext Thanks for stopping by.
  main
    .wrapper
      .headline-wrapper--about
        h3 I'm Simon, & I'm happy you've found my little slice of the Internet.
      p.quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt saepe, ipsam eos illo quisquam laborum cumque a ad esse, placeat, culpa officia aut laboriosam, excepturi doloribus necessitatibus minima alias modi?
      .brief
        .brief-column
          h6 Currently At
          span.brief-line
          img(src="./images/pngs/currently-at.png")
          p HackerYou
        .brief-column
          h6 Key Skills
          span.brief-line
          ul
            li Front End Development
            li Analytics
            li WordPress
            li Theatre Direction
        .brief-column
          h6 Favorite Things
          span.brief-line
          ul
            li Front End Development
            li Analytics
            li WordPress
            li Theatre Direction
      .columns
        .column Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem beatae numquam odit nemo praesentium sint amet possimus incidunt laboriosam. Alias voluptatibus, id odio, esse tenetur inventore quaerat eos velit aut.
        .column Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste illo autem laborum optio, quidem totam quis ullam, ea est magnam nam veniam fugiat, obcaecati inventore quaerat non et. Laboriosam, dolores?
      .connect
        h4 Feel free to e-mail me at connect@simonwbloom.com
        p.subtext I'm currently considering contract opportunities starting May 2016.
        p Availability chart stub
  include ./includes/footer.pug

        
