<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    include ./includes/head.pug
    title Simon W. Bloom / Contact
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="/scripts/vendor/moment.min.js")
    script(src="/scripts/vendor/clndr.min.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDauM3L5IfUlDIGWihKR3MooCPnEnG3WhA")
  body(id="contact")
    header.hero-container.hero-container--internal.hero-container--contact
      .hero.wrapper
        .hero-nav-wrapper
          .hero-content-wrapper
            .logo
              a(href="/")
                img(src='/public/images/svgs/swb-badge-blog.svg' alt='a small paper crane').logo-desktop
                img(src='/public/images/svgs/swb-mobile-logo.svg' alt='a small paper crane').logo-mobile
            nav
              include ./includes/nav.pug
        .hero-text-wrapper
          span.hero-subtext Want to chat?
          h1 Get in Touch
          span.hero-subtext I'd love to hear from you
    main
      .wrapper.contact-wrapper
        .headline-wrapper.text-wrapper
          h3 I take on contract work with great agencies and am always on the lookout for speaking and teaching opportunities.
          p.quote In Toronto and abroad, I love tackling challenging projects, inspiring students, and learning and sharing new technologies. Got a project, speaking or teaching opportunity you think I might be a good fit for? Don't hesitate to reach out!
    .contact
      .wrapper
        .contact-container
          .contact-form
            h3 Get in touch.
            form(action='mailer.php' method='post')
              .form-row
                label(for="name") Hi there! My name is
                  input(type="text" id="name" name="name" placeholder="Type your name here" value="")
                  |.
              .form-row
                label(for="email") You can e-mail me at
                  input(type="text" name="email" id="email" placeholder="You@awesomeinc.io" value="")
                  |.
              .form-row
                label(for="about") Let's chat about an upcoming
                  select(name="about")
                    option agency contract
                    option teaching opportunity
                    option speaking opportunity
              .form-row
                label(for="details") Here are the details:
                  textarea(name="details" id="details")
              button.btn-submit Submit
              p.message
          .contact-calendar
            h3 Let me check my schedule...
            .calendar
    <section id="cd-google-map">
      <div id="google-container"></div>
      <div id="cd-zoom-in"></div>
      <div id="cd-zoom-out"></div>
    </section>
    include ./includes/footer.pug
