<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Simon W. Bloom
  include ./includes/head.pug
  script(src="/scripts/vendor/isotope.pkgd.min.js")
body(class="home")
  header.hero-container.hero-container--landing
    .hero.wrapper
      .hero-nav-wrapper
        .hero-content-wrapper
          .logo
            img(src='/public/images/svgs/swb-badge-blog.svg').logo-desktop
            img(src='/public/images/svgs/swb-mobile-logo.svg').logo-mobile
            //- Logo here
          nav
            include ./includes/nav.pug
      .hero-text-wrapper
        img(src='/public/images/svgs/bird-icon.svg').bird-header
        h1.home-headline Simon Bloom
        span.home-subtext Design Minded Web Development
        span.location Toronto, Canada
  main
    .wrapper
      .agencies
        h2 Creative Agencies
        span.subtext Some of the awesome teams I've had the chance to work with
        .agency-rolodex
          picture
            source(srcset="/images/pngs/nascent-logo-2x.png" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
            img(src="images/pngs/nascent-logo.png" width="213px" height="28px")
          picture
            source(srcset="/images/pngs/grassriots-logo-2x.png" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
            img(src="images/pngs/grassriots-logo.png" width="208px" height="48px")
          picture
            source(srcset="/images/pngs/telus-logo-2x.jpg" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
            img(src="images/pngs/telus-logo.jpg" width="200px")
          picture
            source(srcset="/images/pngs/fb-logo.png" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
            img(src="images/pngs/fb-logo.png" width="213px" height="80px")
          //- picture
          //-   source(srcset="/images/pngs/nascent-logo-2x.png" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
          //-   img(src="images/pngs/nascent-logo.png" width="213px" height="28px")
          //- picture
          //-   source(srcset="/images/pngs/grassriots-logo-2x.png" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
          //-   img(src="images/pngs/grassriots-logo.png" width="208px" height="48px")
          //- picture
          //-   source(srcset="/images/pngs/telus-logo-2x.jpg" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
          //-   img(src="images/pngs/telus-logo.jpg" width="200px")
          //- picture
          //-   source(srcset="/images/pngs/fb-logo.png" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
          //-   img(src="images/pngs/fb-logo.png" width="213px" height="80px")
    .latest-work
      .wrapper
        .columns
          .latest-work-column-left
            picture.latest-work-proportion
            source(srcset="/images/pngs/proportion-2x.png" width="324px" height="280px" media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
            img(src="images/pngs/proportion.png" width="324px" height="280px")
          .latest-work-column-right
            h2 Latest Work
            span.subtext My most recent experiences
    .portfolio-short-outercontainer
      .portfolio-short-container
          .wrapper
            .portfolio-short
              .portfolio-short-body
                span.portfolio-category Agency Contract
                h2 Jam3
                strong Make cool shit- and don't fuck it up.
                p Jam3 is one of the world's top digital and production design agencies. They specialize in creating highly advanced, experiential works in both the advertising and entertainment industry.
                  //- div.btn-outer Read on
                    .btn-inner
              .portfolio-short-feature
    .blogroll
      .wrapper.blogroll-wrapper
        h2 The Blog
        span.subtext My most recent musings
        include ./includes/blogroll.pug

  include ./includes/footer.pug
