<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Simon W. Bloom / About
  include ./includes/head.pug
body
  header.hero-container.hero-container--internal.hero-container--about
    .hero.wrapper
      .hero-nav-wrapper
        .logo
          img(src='/public/images/svgs/swb-badge-blog.svg')
          //- Logo here
        nav
          include ./includes/nav.pug
      .hero-text-wrapper
        span.hero-subtext A collection of projects & contracts
        h1 Work
        span.hero-subtext From large agencies to nonprofits
  main
    .wrapper
      .intro-box
        .intro-box-body I love #[strong long-term contracts]. They allow me to #[strong integrate] with talented teams, meet new people, and collaborate to create amazing digital experiences. I'm flexible, friendly, and love a good #[strong challenge].
        .intro-box-featured.intro-box-featured--suitcase
          img(src="./images/pngs/work-briefcase.png")
  .portfolio-short-outercontainer
    .portfolio-short-container
        .wrapper
          .portfolio-short
            .portfolio-short-body
              span.portfolio-category Agency Contract
              h2 Jam3
              strong Make cool shit- and don't fuck it up.
              p Jam3 is one of the world's top digital and production design agencies. They specialize in creating highly advanced, experiential works in both the advertising and entertainment industry.
              button Read on
            .portfolio-short-feature
    .portfolio-short-outercontainer
      .portfolio-short-container
          .wrapper
            .portfolio-short
              .portfolio-short-feature
              .portfolio-short-body
                span.portfolio-category Agency Contract
                h2 Jam3
                strong Make cool shit- and don't fuck it up.
                p Jam3 is one of the world's top digital and production design agencies. They specialize in creating highly advanced, experiential works in both the advertising and entertainment industry.
                button Read on
    .portfolio-short-outercontainer
      .portfolio-short-container
          .wrapper
            .portfolio-short
              .portfolio-short-body
                span.portfolio-category Agency Contract
                h2 Jam3
                strong Make cool shit- and don't fuck it up.
                p Jam3 is one of the world's top digital and production design agencies. They specialize in creating highly advanced, experiential works in both the advertising and entertainment industry.
                button Read on
              .portfolio-short-feature
  include ./includes/footer.pug
