- var postTags = "Front end development, React"
- var agencyLocation = "Toronto, Canada"
- var timeline = "November 2015 to January 2016"
- var funFacts = "Jam3 has a mortal kombat arcade machine in their office! Whaaaat!?";
- var articleTitle = "Make cool shit- and don't fuck it up"
- var articleCaption = "Jam3 is one of the world’s top digital and production design agencies. They specialize in creating highly advanced, experiential works in both the advertising and entertainment industry. Some of their clients include MTV, Facebook, and Visa."
