- var articleName = "Displaying retina images with the <picture> Element";
- var articleLength = "5 Minute Read"
- var articlePublished = "Published November 11th, 2016"
- var postTags = "HTML, Progressive Enhancement"
- var postTitle = "Displaying retina images with the <picture> Element"
- var postSummary = "This article explains how to use the <picture> element to conditionally serve high resolution assets to retina enabled devices."
