.availability
  .availability-title Annual Availability
  .chart
    .chart-year.chart-year--prev 2016
    ul.years
      li.year Jan
      li.year Feb
      li.year Mar
      li.year Apr
      li.year May
      li.year Jun
      li.year Jul
      li.year Aug
      li.year Sep
      li.year Oct
      li.year Nov
      li.year Dec
    .chart-year.chart-year--next 2017
  ul.chart-options
    li Show only available months
    li Not available
    li Available Months
