.availability
  .availability-title Annual Availability
  .chart
    .chart-year.chart-year--prev 2016
    ul.chart-months
      li.chart-month Jan
      li.chart-month Feb
      li.chart-month Mar
      li.chart-month Apr
      li.chart-month May
      li.chart-month Jun
      li.chart-month Jul
      li.chart-month Aug
      li.chart-month.chart-month--available Sep
      li.chart-month.chart-month--available Oct
      li.chart-month.chart-month--available Nov
      li.chart-month.chart-month--available Dec
    .chart-year.chart-year--next 2017
  ul.chart-options
    li Show only available months
    li Not available
    li Available Months
