.tagcloud
  button.tag(data-filter=".wordpress") Wordpress
  button.tag.tag--active(data-filter="*") All Tags
  button.tag(data-filter=".javascript") Javascript
.blogroll-articles
  a(href="#").blogroll-link
    .blogroll-excerpt.html
      ul.blogroll-details
        li.blogroll-date August 4th, 2014
        li.blogroll-length 5 Minute Read
        li.blogroll-category filed under
          span.blogroll-category-single  development
      h3.blogroll-title Responsive Images using the picture element
      p.blogroll-content A more semantic and manageable way to conditionally serve high res images only to those devices that need them.
  a(href="#").blogroll-link
    .blogroll-excerpt.javascript
      ul.blogroll-details
        li.blogroll-date August 4th, 2014
        li.blogroll-length 5 Minute Read
        li.blogroll-category filed under
          span.blogroll-category-single  react, firebase
      h3.blogroll-title Building a kareoke machine using React and Firebase
      p.blogroll-content Because we're living the vida loca, baby!
  a(href="#").blogroll-link
    .blogroll-excerpt.javascript
      ul.blogroll-details
        li.blogroll-date August 4th, 2014
        li.blogroll-length 5 Minute Read
        li.blogroll-category filed under
          span.blogroll-category-single  react, authentication, firebase
      h3.blogroll-title Authentication using React and Firebase
      p.blogroll-content Welcome to my series of posts on Alfred, the best thing to happen to your workflow since learning how to touch type.
  a(href="#").blogroll-link
    .blogroll-excerpt.javascript
      ul.blogroll-details
        li.blogroll-date August 4th, 2014
        li.blogroll-length 5 Minute Read
        li.blogroll-category filed under
          span.blogroll-category-single  javascript
      h3.blogroll-title Understanding Callbacks in JavaScript
      p.blogroll-content Few times I been around that track and it's not just gonna happen like that cause I ain't no hollaback girl.
