.tagcloud
  button.tag(data-filter=".wordpress") Wordpress
  button.tag.tag--active(data-filter="*") All Tags
  button.tag(data-filter=".javascript") Javascript
.blogroll-articles
  .blogroll-excerpt.wordpress
    ul.blogroll-details
      li.blogroll-date August 4th, 2014
      li.blogroll-length 5 Minute Read
      li.blogroll-category filed under
        span.blogroll-category-single process
    h3.blogroll-title A WordPress Article
    p.blogroll-content Welcome to my series of posts on Alfred, the best thing to happen to your workflow since learning how to touch type.
  .blogroll-excerpt.wordpress
    ul.blogroll-details
      li.blogroll-date August 4th, 2014
      li.blogroll-length 5 Minute Read
      li.blogroll-category filed under
        span.blogroll-category-single process
    h3.blogroll-title Another WordPress Article
    p.blogroll-content Welcome to my series of posts on Alfred, the best thing to happen to your workflow since learning how to touch type.
  .blogroll-excerpt.javascript
    ul.blogroll-details
      li.blogroll-date August 4th, 2014
      li.blogroll-length 5 Minute Read
      li.blogroll-category filed under
        span.blogroll-category-single process
    h3.blogroll-title A JavaScript Article
    p.blogroll-content Welcome to my series of posts on Alfred, the best thing to happen to your workflow since learning how to touch type.
