footer
  .shape.shape--cube
  .shape.shape--sacred
  .shape.shape--sunfire
  .shape.shape--starball
  .wrapper.footer-wrapper
    button Get in Touch
    .footer-card
      img(src="/public/images/svgs/bird-icon.svg")
      span.made-in Made in Toronto
      span.subtext Follow me in the wild, wild, internet.
      .social-links
        a(href="https://twitter.com/simonwbloom")
          img(src="/public/images/svgs/icon-twitter.svg")
        a(href="https://github.com/swbloom")
          img(src="/public/images/svgs/icon-github.svg")
        a(href="https://www.linkedin.com/in/simon-bloom-19a5519b")
          img(src="/public/images/svgs/icon-linkedin.svg")
        a(href="https://www.instagram.com/simonwbloom/")
          img(src="/public/images/svgs/icon-instagram.svg")

    .copyright &copy; Copyright 2016, Simon W. Bloom
