footer
  .wrapper.footer-wrapper
    button Get in Touch
    .footer-card
      img(src="/public/images/svgs/bird-icon.svg")
      span.made-in Made in Toronto
      span.subtext Follow me in the wild, wild, internet.
      .social-links
        img(src="/public/images/svgs/icon-twitter.svg")
        img(src="/public/images/svgs/icon-medium.svg")
        img(src="/public/images/svgs/icon-facebook.svg")
        img(src="/public/images/svgs/icon-github.svg")
        img(src="/public/images/svgs/icon-linkedin.svg")
        img(src="/public/images/svgs/icon-instagram.svg")
    .shape.shape--cube
    .shape.shape--sacred
    .shape.shape--sunfire
    .shape.shape--starball
    .copyright &copy; Copyright 2016, Simon W. Bloom
