div.hamburger
  button(class="hamburger hamburger--spin" type="button" id="hamburger")
    span(class="hamburger-box")
    span(class="hamburger-inner")
ul.menu
  li.tablet-down.badge
    img(src='/public/images/svgs/swb-badge-blog.svg')
  li
    a(href="/index.html") Home
  li
    a(href="/about.html") About
  li
    a(href="/work.html") Work
  li
    a(href="/contact.html") Contact
  li
    a(href="/blog.html") Blog
  li.tablet-down Get in touch
