section.past-work
  div.past-work-column
    div.past-work-arrow
      img(src='/public/images/svgs/blue-gallery-arrow-left.svg')
    div.past-work-details
      p.portfolio-category Lead Instructor
      h4 HackerYou
      p.subtext Snatch the pebble from my hand, grasshopper
  div.past-work-column
    div.past-work-details
      p.portfolio-category Agency Contract
      h4 Jam3
      p.subtext Make cool shit
    div.past-work-arrow
      img(src='/public/images/svgs/blue-gallery-arrow-right.svg')
