- var articleName = "Don't treat your lighting designer like a lighting board";
- var articleLength = "5 Minute Read"
- var articlePublished = "Published July 19th, 2014"
- var postTags = "Theatre, Design"
- var postTitle = "3 Things Web Developers and Theatre Artists Can Learn from Each Other"
- var postSummary = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
